{{ partial "header.html" . }}

{{ partial "navigation.html" . }}

<section class="page-404 text-center d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div style="color: #ffffff;" class="col-md-12">
        <h1>404</h1>
        <h2>Page Not Found</h2>
        <p>Sorry, but the page you were trying to view does not exist.</p>
        <a href="{{ .Site.BaseURL }}" class="btn btn-main mt-20">Go Home</a>
      </div>
    </div>
  </div>
</section>
	
{{ "<!-- jQuery -->" | safeHTML }}
<script src="{{ "plugins/jquery/dist/jquery.min.js" | absURL }}"></script>
{{ "<!-- Bootstrap -->" | safeHTML }}
<script src="{{ "plugins/bootstrap/dist/js/popper.min.js" | absURL }}"></script>
<script src="{{ "plugins/bootstrap/dist/js/bootstrap.min.js" | absURL }}"></script>
<script src="{{ "js/script.js" | absURL }}"></script>

{{ partial "footer.html" . }}
