{{ partial "header.html" . }}
{{ partial "navigation.html" . }}

<section class="blog-single section">
	<div class="container">
		<div class="row">
			<div class="col-md-8 mx-auto">
				<h1>{{ .Title }}</h1>
				<div class="post-meta mb-3">
					<ul class="list-inline">
						<li class="list-inline-item">
							{{ .Params.subtitle }}
						</li>
					</ul>
				</div>
				<a href="/blog" ><img src="https://www.tinygraphs.com/labs/isogrids/hexa/{{ with .Params.ip_v4_address }}{{ . }}{{ end }}?theme=bythepool&numcolors=4&size=100&fmt=svg" class="rounded mb-3" alt="{{ .Summary }}"></a>
				<a href="/blog" ><img src="https://www.tinygraphs.com/labs/isogrids/hexa/{{ with .Params.ip_v4_address }}{{ . }}{{ end }}?theme=duskfalling&numcolors=4&size=100&fmt=svg" class="rounded mb-3" alt="{{ .Summary }}"></a>
				<a href="/blog" ><img src="https://www.tinygraphs.com/labs/isogrids/hexa/{{ with .Params.ip_v4_address }}{{ . }}{{ end }}?theme=base&numcolors=4&size=100&fmt=svg" class="rounded mb-3" alt="{{ .Summary }}"></a>
				<a href="/blog" ><img src="https://www.tinygraphs.com/labs/isogrids/hexa/{{ with .Params.ip_v4_address }}{{ . }}{{ end }}?theme=seascape&numcolors=4&size=100&fmt=svg" class="rounded mb-3" alt="{{ .Summary }}"></a>
				{{ .Content  | safeHTML }}

				{{ partial "post-micro-tip.html" .}} 

			</div>
		</div>
	</div>
</section>

{{ partial "cta.html" . }}

{{ partial "footer.html" . }}
