{{ if .Site.Params.aboutSm.enable }}
{{ "<!-- Start About Section -->" | safeHTML }}
<section class="about-2 section bg-gray" id="about" style="padding: 20px 0 !important;">
<div class="container">
  <div class="row">
    <div class="col-12 col-md-7">
      {{ with .Site.Params.aboutSm.title }}
      <h1>{{ . | safeHTML }}</h1>
      {{ end }}
      {{ with .Site.Params.aboutSm.subtitle }}
      <h5>{{ . | safeHTML }}</h5>
      {{ end }}
    </div>
    <div class="col-12 col-md-5">
      <center>
        <i class="fas fa-database fa-4x ml-3 mt-1"></i>
        <i class="fas fa-chart-pie fa-4x ml-3 mt-1"></i>
        <i class="fas fa-chart-bar fa-4x ml-3 mt-1"></i>
      </center>
    </div>
  </div>
</div>
</section>
{{ "<!-- End About section -->" | safeHTML }}
{{ end }}
