{{ if .Site.Params.aboutSm.enable }}
{{ "<!-- Start About Section -->" | safeHTML }}
<section class="about-2 section" id="about" style="padding: 20px 0 !important;background-color: #333;color: #bdc3c7;">
<div class="container">
  <div class="row">
    <div class="col-12 col-md-12 text-center">
      <a href=""><img class="img-fluid rounded float-left" width="75" height="75" src="/images/large_white_ps_v1.png"></a>
      {{ with .Site.Params.aboutSm.title }}
      <h1>{{ . | safeHTML }}</h1>
      {{ end }}
      {{ with .Site.Params.aboutSm.subtitle }}
      <h5>{{ . | safeHTML }}</h5>
      {{ end }}
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <center>
          <blockquote class="twitter-tweet" data-conversation="none" data-theme="dark" data-width="250" data-cards="hidden"><p lang="en" dir="ltr">7 months of dwell time is far too long, especially for the last five years. <a href="https://t.co/wEt5N9rB8H">https://t.co/wEt5N9rB8H</a></p>&mdash; Richard Bejtlich (@taosecurity) <a href="https://twitter.com/taosecurity/status/1223252472187191296?ref_src=twsrc%5Etfw">January 31, 2020</a></blockquote>
      </center>
    </div>
      <div class="col-sm">
    <center>
        <blockquote class="twitter-tweet" data-conversation="none" data-theme="dark" data-width="250" data-cards="hidden"><p lang="en" dir="ltr">A year ago, VPN giant Citrix said hackers had broken into its corporate network, but details about the breach remained sparse. Now, Citrix says the intrusion lasted 5 months, and exposed personal/financial data on current/former employees and dependents. <a href="https://t.co/1EzfR4sYut">https://t.co/1EzfR4sYut</a> <a href="https://t.co/0OJK6mrDPf">pic.twitter.com/0OJK6mrDPf</a></p>&mdash; briankrebs (@briankrebs) <a href="https://twitter.com/briankrebs/status/1230160184284237825">February 19, 2020</a></blockquote> 
      </center>
    </div>
      <div class="col-sm">
        <center>
          <blockquote class="twitter-tweet" data-conversation="none" data-theme="dark" data-width="250" data-cards="hidden"><p lang="en" dir="ltr">Deloitte : compromised for months &amp; didn&#39;t know;<br>SEC : ditto;<br>Equifax : ditto<br><br>Seriously <a href="https://t.co/s6OchWwxtu">https://t.co/s6OchWwxtu</a><br><br>Canarytokens are free</p>&mdash; haroon meer (@haroonmeer) <a href="https://twitter.com/haroonmeer/status/912327932340707329?ref_src=twsrc%5Etfw">September 25, 2017</a></blockquote>
        </center>
      </div>
        <div class="col-sm">
      <center>
        <blockquote class="twitter-tweet" data-conversation="none" data-theme="dark" data-width="250" data-cards="hidden"><p lang="en" dir="ltr">Oh heck yah. Reducing dwell time is a major way to reduce financial business impact. If we can’t stop the breach, we can stop the loss!</p>&mdash; Jeremiah Grossman (@jeremiahg) <a href="https://twitter.com/jeremiahg/status/1175139509840699392?ref_src=twsrc%5Etfw">September 20, 2019</a></blockquote> 
        </center>
      </div>
    </div>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

  </div>
  </section>
  {{ "<!-- End About section -->" | safeHTML }}
  {{ end }}
