{{ if .Site.Params.aboutPs.enable }}
{{ "<!-- Start About Section -->" | safeHTML }}
<section class="about-2 section" id="about" style="padding: 20px 0 !important;background-color: #333;color: #bdc3c7;">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-12 text-center">
				{{ with .Site.Params.aboutPs.title }}
				<h2 class="float-center" style="font-size: 2em; padding: 10px 20px 0px 50px !important;">{{ . | safeHTML }}</h2>
				{{ end }}
				{{ with .Site.Params.aboutPs.subtitle }}
				<!-- <h5>{{ . | safeHTML }}</h5> -->
				{{ end }}
			</div>
		</div>
	</div>
</section>
<section class="about-2 section" id="video-section" style="padding: 20px 0 !important;background-color: #000;color: #bdc3c7;">
	<div class="container">
		<div class="row">
			<div class="col-sm text-center mb-4">
				<div id="video-row" class="row mb-5">
					<div class="col text-center">
						<div id="video-bound" class="text-center">
							<video id="my-video" crossorigin="anonymous" class="video-js vjs-fluid vjs-default-skin vjs-big-play-centered mt-5" controls preload="none" data-setup='{}' poster="/images/see_how_v1.png">
								<source src="/video/pansift_tour_v4.mp4" type='video/mp4'>
								<p class="vjs-no-js">
								To view this video please enable JavaScript, and consider upgrading to a web browser that
								<a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
								</p>
								<track kind="captions" src="/video/pansift_tour_v4.vtt" srclang="en" label="English" default>
							</video>
						</div>
					</div>
				</div>
				<center>
					<!-- <blockquote class="twitter-tweet" data-theme="dark"><p lang="en" dir="ltr">Could you contribute 60 seconds or less about your experience troubleshooting your team or family&#39;s laptops (8 simple questions!) at <a href="https://t.co/HTe9YjdXLt">https://t.co/HTe9YjdXLt</a> 🔧</p>&mdash; PanSift : for a rapid find and fix! (@pansifter) <a href="https://twitter.com/pansifter/status/1365704536476762124?ref_src=twsrc%5Etfw">February 27, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
					{{ with .Site.Params.aboutPs.proof }}
					<p style="color: white;" class="mt-4">{{ . | safeHTML }}</p>
					{{ end }}
				</center>
			</div>
		</div>
		<!-- <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->

	</div>
</section>
{{ "<!-- End About section -->" | safeHTML }}
{{ end }}
