{{ if .Site.Params.aboutSm.enable }}
{{ "<!-- Start About Section -->" | safeHTML }}
<section class="about-2 section" id="about" style="padding: 20px 0 !important;background-color: #333;color: #bdc3c7;">
<div class="container">
  <div class="row">
    <div class="col-12 col-md-12 text-center">
      <a href=""><img class="img-fluid rounded float-left" width="75" height="75" src="/images/large_white_ps_v1.png"></a>
      {{ with .Site.Params.aboutSm.title }}
      <h1>{{ . | safeHTML }}</h1>
      {{ end }}
      {{ with .Site.Params.aboutSm.subtitle }}
      <h5>{{ . | safeHTML }}</h5>
      {{ end }}
    </div>
  </div>
</div>
<center><blockquote class="twitter-tweet" data-theme="dark" data-conversation="none" data-cards="hidden"><p lang="en" dir="ltr">A year ago, VPN giant Citrix said hackers had broken into its corporate network, but details about the breach remained sparse. Now, Citrix says the intrusion lasted 5 months, and exposed personal/financial data on current/former employees and dependents. <a href="https://t.co/1EzfR4sYut">https://t.co/1EzfR4sYut</a> <a href="https://t.co/0OJK6mrDPf">pic.twitter.com/0OJK6mrDPf</a></p>&mdash; briankrebs (@briankrebs) <a href="https://twitter.com/briankrebs/status/1230160184284237825?ref_src=twsrc%5Etfw">February 19, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></center>
</section>
{{ "<!-- End About section -->" | safeHTML }}
{{ end }}
