{{ if .Site.Params.benefits.enable }}
{{ "<!-- Start Benefits section -->" | safeHTML }}
<section class="service-2 section" background-color="#FFFFFF" id="benefits" style="padding-bottom: 0;">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="title text-center">
					{{ with .Site.Params.benefits.title }}
					<h2>{{. | safeHTML}}</h2>
					{{ end }}
					{{ with .Site.Params.benefits.subtitle }}<h5>{{. | safeHTML}}</h5>{{ end }}
				</div>
			</div>
		</div> 
		<!-- End row -->
		<div class="row justify-content-center">
			<div class="col-md-4 col-sm-6 col-xs-12 p-0">
				<div class="service-item text-center">
					<i class="fas fa-bullseye"></i>
					<h4>{{ with .Site.Params.benefits.onetitle }}{{. | safeHTML}}</h4>{{ end }}
					<p>{{ with .Site.Params.benefits.one }}<p>{{. | safeHTML}}</p>{{ end }}
					</p>
				</div>
			</div> 
			<div class="col-md-4 col-sm-6 col-xs-12 p-0">
				<div class="service-item text-center">
					<i class="fas fa-history"></i>
					<h4>{{ with .Site.Params.benefits.twotitle }}{{. | safeHTML}}</h4>{{ end }}
					<p>{{ with .Site.Params.benefits.two }}<p>{{. | safeHTML}}</p>{{ end }}
					</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12 p-0">
				<div class="service-item text-center">
					<i class="fas fa-stopwatch"></i>
					<h4>{{ with .Site.Params.benefits.threetitle }}{{. | safeHTML}}</h4>{{ end }}
					<p>{{ with .Site.Params.benefits.three }}<p>{{. | safeHTML}}</p>{{ end }}
					</p>
				</div>
			</div>
		</div>
		<div class="row mt-5 mb-5">
			<div class="clearfix"></div>
			<div class="col text-center">
				<a href="https://app.pansift.com/demo" target="_blank" rel="nofollow"><img class="img-fluid lozad" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="/images/benefits/laptop_inlay_insights_v1.png"></img></a>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-md-4 col-sm-6 col-xs-12 p-0">
				<div class="service-item text-center">
					<i class="fas fa-ethernet"></i>
					<h4>{{ with .Site.Params.benefits.fourtitle }}{{. | safeHTML}}</h4>{{ end }}
					<p>{{ with .Site.Params.benefits.four }}<p>{{. | safeHTML}}</p>{{ end }}
					</p>
				</div>
			</div> 
			<div class="col-md-4 col-sm-6 col-xs-12 p-0">
				<div class="service-item text-center">
					<i class="fas fa-thumbtack"></i>
					<h4>{{ with .Site.Params.benefits.fivetitle }}{{. | safeHTML}}</h4>{{ end }}
					<p>{{ with .Site.Params.benefits.five }}<p>{{. | safeHTML}}</p>{{ end }}
					</p>
				</div>
			</div> 
			<div class="col-md-4 col-sm-6 col-xs-12 p-0">
				<div class="service-item text-center">
					<i class="fas fa-balance-scale"></i>
					<h4>{{ with .Site.Params.benefits.sixtitle }}{{. | safeHTML}}</h4>{{ end }}
					<p>{{ with .Site.Params.benefits.six }}<p>{{. | safeHTML}}</p>{{ end }}
					</p>
				</div>
			</div> 
		</div>

		<div class="row mt-5 mb-5">
			<div class="clearfix"></div>
			<div class="col text-center">
				<a href="https://app.pansift.com/demo" target="_blank" rel="nofollow"><img class="img-fluid lozad" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="/images/benefits/laptop_inlay_wifi_v3.png"></img></a>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-md-4 col-sm-6 col-xs-12 p-0">
				<div class="service-item text-center">
					<i class="fas fa-map-marked-alt"></i>
					<h4>{{ with .Site.Params.benefits.seventitle }}{{. | safeHTML}}</h4>{{ end }}
					<p>{{ with .Site.Params.benefits.seven }}<p>{{. | safeHTML}}</p>{{ end }}
					</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12 p-0">
				<div class="service-item text-center">
					<i class="fas fa-chart-line"></i>
					<h4>{{ with .Site.Params.benefits.eighttitle }}{{. | safeHTML}}</h4>{{ end }}
					<p>{{ with .Site.Params.benefits.eight }}<p>{{. | safeHTML}}</p>{{ end }}
					</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12 p-0">
				<div class="service-item text-center">
					<i class="fas fa-fire-extinguisher"></i>
					<h4>{{ with .Site.Params.benefits.ninetitle }}{{. | safeHTML}}</h4>{{ end }}
					<p>{{ with .Site.Params.benefits.nine }}<p>{{. | safeHTML}}</p>{{ end }}
					</p>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="col text-center">
				</br>
				</br>
				</br>
				</br>
			</div>
		</div>
		<!-- End row -->
</section>
{{ "<!-- End section -->" | safeHTML }}
{{ if .Site.Params.aboutsm2.enable }}
<section class="about-2 section" id="about" style="padding: 20px 0 !important;background-color: #333;color: #bdc3c7;">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-12 text-center">
				{{ with .Site.Params.aboutsm2.title }}
				<h1 class="float-left" style="padding: 10px 20px 0px 50px !important;">{{ . | safeHTML }}</h1>
				{{ end }}
				{{ with .Site.Params.aboutsm2.subtitle }}
				<!-- <h5>{{ . | safeHTML }}</h5> -->
				{{ end }}
			</div>
		</div>
	</div>
</section>
{{ end }}
<div class="container">
	<div class="row">
		<div class="col-sm text-center mb-4 mt-4">
			<center>
				<a href="/design"><img class="img-fluid lozad" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="/images/design/system_overview_transparent_v1.png"></img></a>
			</center>
		</div>
	</div>
</div>
{{ "<!-- End section -->" | safeHTML }}
{{ end }}
