{{ if .Site.Params.blog-cta.enable }}
{{ "<!-- Start Call To Action -->" | safeHTML }}
<section>
<div class="card">
  <div class="card-header"><b>PS</b></div>
  <div class="card-body">At <a href="https://pansift.com/?utm_source=psblog&utm_medium=hyperlink&utm_campaign=launch&utm_content=sbs">PanSift</a> we recommend that organisations request automated initial technical screens. By using a position description, CV, or candidate profile as a form of <i>keyword currency</i> we build custom simulations to test a practitioner's claimed skilling. You can also use predefined simulations or build your own. We call the process of testing candidates in real live scenarios "<a href="https://pansift.com/?utm_source=psblog&utm_medium=hyperlink&utm_campaign=launch&utm_content=sbs">Simulation Based Screening"</a>. It allows for wider funnels and less bias whilst saving costs and reducing <b>time-to-hire</b>.</div>
</div>
</section>
{{ "<!-- Start Call To Action -->" | safeHTML }}
{{ end }}
