{{ if .Site.Params.blog_cta.enable }}
{{ "<!-- Start Blog Call To Action -->" | safeHTML }}
<div class="card">
  <h4 class="card-header"><b>PS : Skills Test</b></h4>
  <div class="card-body">We recommend that organisations request automated initial screens. By using a position description, CV, or candidate profile as a form of <strong><i>keyword currency</i></strong> we build custom simulations to test a practitioner's claimed skilling. You can also use predefined simulations or even build simulations via drag and drop keywords. We call the process of testing candidates in real live scenarios "<a href="https://pansift.com/howitworks">Simulation Based Screening"</a>. It allows for wider funnels and less bias whilst saving costs and reducing <b>time-to-fill</b>.
  </div>
</div>
{{ "<!-- Start Blog Call To Action -->" | safeHTML }}
{{ end }}
