{{ if .Site.Params.blog_cta.enable }}
{{ "<!-- Start Blog Call To Action -->" | safeHTML }}
<div class="card">
  <h4 class="card-header"><b>PS : Tip : Skills Test</b></h4>
  <div class="card-body">At <a href="https://pansift.com/?utm_source=psblog&utm_medium=hyperlink&utm_campaign=launch&utm_content=sbs">PanSift</a> we recommend that organisations request an automated initial technical screen. By using a position description, CV, or candidate profile as a form of <i>keyword currency</i> we build custom simulations to test a practitioner's claimed skilling. You can also use predefined simulations or build your own simulations via drag and drop keywords. We call the process of testing candidates in real live scenarios "<a href="https://pansift.com/?utm_source=psblog&utm_medium=hyperlink&utm_campaign=launch&utm_content=sbs">Simulation Based Screening"</a>. It allows for wider funnels and less bias whilst saving costs and reducing <b>time-to-hire</b>.
  </div>
</div>
{{ "<!-- Start Blog Call To Action -->" | safeHTML }}
{{ end }}
