{{ if .Site.Params.contact.enable }}
{{ "<!-- Start Contact Us -->" | safeHTML }}
<section class="contact-us section bg-gray" id="contact">
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="title text-center" style="padding-bottom: 0px !important;">
        {{ with .Site.Params.contact.topTitle }}<h4>{{.}}</h4>{{ end }}
        {{ with .Site.Params.contact.title }}
        <h2>{{.}}</h2>
        <span class="border"></span>
        {{ end }}
        {{ with .Site.Params.contact.subtitle }}<p>{{.}}</p>{{ end }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="address-block contact-meta-block">
        <i class="far fa-comments"></i>
        <h4>Realtime Chat</h4>
        <ul class="list-inline social-icon">
          <li class="list-inline-item">
          <a style="white-space:nowrap;" href="javascript:void(Tawk_API.toggle())"><i class="far fa-comments"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="social-icons-block contact-meta-block">
        <i class="fab fa-connectdevelop"></i>
        <h4>Social</h4>
        <ul class="list-inline social-icon">
          {{ with .Site.Params.contact.twitter }}
          <li class="list-inline-item">
          <a href="{{.}}">
            <i class="fab fa-twitter-square"></i>
          </a>
          </li>
          {{ end }}
          {{ with .Site.Params.contact.linkedin }}
          <li class="list-inline-item">
          <a href="{{.}}">
            <i class="fab fa-linkedin"></i>
          </a>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="address-block contact-meta-block">
        <i class="fas fa-map-marker"></i>
        <h4>Location</h4>
        {{ with .Site.Params.contact.address }}<p>{{ . | safeHTML }}</p>{{ end }}
      </div>
    </div>
    <div class="col-12 col-md-12 text-center" style="min-height:600px !important;padding: 0px !important;">
    <br>
    <br>
      <div class="pipedriveWebForms" data-pd-webforms="https://pipedrivewebforms.com/form/ac910693de91d0b793c2c0c4d8eb92883633726">
        <script data-cookieconsent="marketing" src="https://cdn.pipedriveassets.com/web-form-assets/webforms.min.js" async></script></div>
    </div>
  </div>
</div>
</section>
{{ end }}
