{{ if .Site.Params.cta.enable }}
{{ "<!-- Start Call To Action -->" | safeHTML }}
<section class="call-to-action section lozad" data-background-image="{{ .Site.Params.cta.bg | absURL }}" style="background-color: #222222;" background-image="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      {{ with .Site.Params.cta.title }}<h1>{{ . | safeHTML }}</h1>{{ end }}
    </div>
    <div class="col-md-12">
      <center>
        <strong><a href="https://app.pansift.com/github/oauth" rel="nofollow" onclick="ga('gtm1.send','event','Client','visit_install_from_cta');" class="btn btn-lg btn-success mt-4"> <i style="font-size: 1.5em;" class="fab fa-github"></i><span style="font-size: 1.3em; font-weight: 900;"> {{ with .Site.Params.btnTxt }}{{ . | safeHTML }}{{ end }}</span></a></strong>
      </center>
    </div>
    <div class="col-md-12 text-center pt-4">
      {{ with .Site.Params.cta.subtitle }}<p>{{ . | safeHTML }}</p>{{ end }}
    </div>
  </div>
</div>
</section>
{{ "<!-- Start Call To Action -->" | safeHTML }}
{{ end }}
<script>
$(function () {
      el = document.querySelectorAll('.lozad');
      observer = lozad(el); // passing a `NodeList` (e.g. `document.querySelectorAll()`) is also valid
      observer.observe();
  });
</script>
