{{ if .Site.Params.cta.enable }}
{{ "<!-- Start Call To Action -->" | safeHTML }}
<section class="call-to-action section lozad" data-background-image="{{ .Site.Params.cta.bg | absURL }}" style="background-color: #222222;" background-image="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center mb-3">
      {{ with .Site.Params.cta.title }}<h1>{{ . | safeHTML }}</h1>{{ end }}
    </div>
    <div class="col-md-12">
      <center>
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 text-center" style="padding: 0px;">
            <a href="/early" rel="nofollow" onclick="ga('gtm1.send','event','Client','visit_install_from_homepage');" class="btn btn-lg btn-primary text-center mt-3" style="background-color: #222222; border-color: #1F6ABE;"> <i style="font-size: 1em;" class="fas fa-download"></i><span style="font-size: 1.3em; font-weight: 900;"> Install Agent</span></a>
            <div id="" class="mt-4">
              <p style="color: #ffffff;">Download and install the OSX <strong>P3</strong> agent!</p>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 text-center" style="padding: 0px;">
            <a href="https://app.pansift.com/demo" rel="nofollow" onclick="ga('gtm1.send','event','Client','visit_demo_from_cta');" class="btn btn-lg btn-success text-center mt-3"> <i style="font-size: 1em;" class="fas fa-user-clock"></i><span style="font-size: 1.3em; font-weight: 900;"> {{ with .Site.Params.btnTxt }}{{ . | safeHTML }}{{ end }}</span></a>
            <div id="" class="mt-4">
              <p style="color: #ffffff;">Get early access and help <strong>shape</strong> features! </p>
            </div>
          </div>
        </div>
      </center>
    </div>
  </div>
</div>
</section>
{{ "<!-- Start Call To Action -->" | safeHTML }}
{{ end }}
<script>
  $(function () {
    el = document.querySelectorAll('.lozad');
    observer = lozad(el); // passing a `NodeList` (e.g. `document.querySelectorAll()`) is also valid
    observer.observe();
  });
</script>
