{{ if .Site.Params.deception.enable }}
{{ "<!-- Start Testimonaials section -->" | safeHTML }}
<section class="service-2 section bg-gray" id="deception">
<div class="container">
  <div class="row">
    <div class="col">
      <div class="title text-center">
        {{ with .Site.Params.deception.topTitle }}<h4>{{. | safeHTML}}</h4>{{ end }}
        {{ with .Site.Params.deception.title }}
        <h2>{{.}}</h2>
        <span class="border"></span>
        {{ end }}
        {{ with .Site.Params.deception.subtitle }}<p>{{. | safeHTML}}</p>{{ end }}
      </div>
    </div>
  </div> 
  <div id="customers" class="row">
  </div>
  <div><center><a id="entity_button" href="#" style="font-weight: 900;" class="btn btn-lg btn-outline-dark mb-4 mt-2">Try Again <i class="fas fa-user-secret"></i></a></center></div>
  <!-- End row -->
  <div class="row justify-content-center">
    <div class="col-md-4 col-sm-6 p-0">
      <div class="service-item text-center">
        <span class="count">1.</span>
        <i class="fas fa-diagnoses"></i>
        <h4>Noise</h4>
        <p>{{ with .Site.Params.deception.one }}<p>{{. | safeHTML}}</p>{{ end }}
        </p>
      </div>
    </div> 
    <div class="col-md-4 col-sm-6 p-0">
      <div class="service-item text-center">
        <span class="count">2.</span>
        <i class="fas fa-location-arrow"></i>
        <h4>Intent + Action</h4>
        <p>{{ with .Site.Params.deception.two }}<p>{{. | safeHTML}}</p>{{ end }}
        </p>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 p-0">
      <div class="service-item text-center">
        <span class="count">3.</span>
        <i class="fas fa-signal"></i>
        <h4>Signal</h4>
        <p>{{ with .Site.Params.deception.three }}<p>{{. | safeHTML}}</p>{{ end }}
        </p>
      </div>
    </div>
    <!-- End row -->
    <div class="clearfix"></div>
  </div>
  <div class="row justify-content-center mt-3">
    <h4>{{ with .Site.Params.deception.punchline }}{{. | safeHTML}}{{ end }}</h4>
  </div>
  <!-- End container -->
</div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Faker/3.1.0/faker.min.js"></script>
<script>
  function getRandomInt(min, max) {
    min = Math.ceil(min);
    max = Math.floor(max);
    return Math.floor(Math.random() * (max - min + 1)) + min;
  }
  function entities() {
    $('#customers').empty();
    var customers = Array(3).fill(0);
    $.when($(customers).each(function (index){
      $("#customers").append("<div class='col-xl-4 col-lg-4 col-md-4 col-xs-12 text-center'><h2 id='custname_'"+index.toString()+"'></h2><a id='custlink_'"+index.toString()+"' href='#' \
          data-toggle='tooltip' data-placement='left' title='Nope, try again!'><img id='custimage_'"+index.toString()+"' src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==' \
          data-src='' class='img-responsive rounded-circle lozad'></a><br/><small id='custtitle_'"+index.toString()+"'></small><h4 id='custcompany_'"+index.toString()+"'></h4><br/></br></div>");

      $("[id^='custimage']").each(function (index){
        $(this).attr("data-src","/images/deception/"+(getRandomInt(1, 507)).toString()+".jpeg");
      });

      $("[id^='custname']").each(function (index){
        $(this).html((faker.name.firstName()).substring(0,1)+'. '+faker.name.lastName());
      });

      $("[id^='custtitle']").each(function (index){
        $(this).html(faker.name.title());
      });

      $("[id^='custcompany']").each(function (index){
        $(this).html(faker.company.companyName());
      });

      })).done(function(){
      el = document.querySelectorAll('img, iframe');
      observer = lozad(el); // passing a `NodeList` (e.g. `document.querySelectorAll()`) is also valid
      observer.observe();
      $("[data-toggle='tooltip']").tooltip({trigger : 'hover'});
      $(document).on('shown.bs.tooltip', function (e) {
        setTimeout(function () {
          $(e.target).tooltip('hide');
        }, 3000);
      });
      $("[id^='custlink']").click(function(e) {
        $('.tooltip').empty();
        entities();
      });
    });
  }

  $('#entity_button').click(function(e) {
    $('.tooltip').empty();
    entities();
  });

  $(function () {
    entities(); 
  });
</script>
<style>
  .tooltip-inner {
    font-size: 1.5em;
    max-width: 100px;
    max-height: 100px;
    /* If max-width does not work, try using width instead */
    height: 100px; 
    width: 100px; 
  }
</style>
{{ "<!-- End section -->" | safeHTML }}
{{ end }}
