{{ if .Site.Params.design.enable }}
{{ "<!-- Start design section -->" | safeHTML }}
<section class="design section" id="design" style="background-color: #fff !important; padding-bottom: 0;">
	<div class="container">
		{{ if (eq .Page.Title "Design") }}
		<div class="row mb-2">
			<div class="col">
				<div class="archtitle text-center">
					{{ with .Site.Params.design.title }}
					<h1>{{. | safeHTML}}</h1>
					<br>
					{{ end }}
					{{ with .Site.Params.design.subtitle }}<h5>{{. | safeHTML}}</h5>{{ end }}
				</div>
			</div>
		</div>
		{{ end }}
		<!-- End row -->
	</div>
</section>
<div class="container">
	<div class="row">
		<div class="col-sm text-center mb-4 mt-4">
			<center>
				<a href="/demo"><img class="img-fluid lozad" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="/images/design/system_overview_transparent_v2.png"></img></a>
			</center>
		</div>
	</div>
</div>
<section class="design section" id="design-explanation" style="background-color: #fff !important; padding-bottom: 0;">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-4 col-sm-6 col-xs-12 p-0">
				<div class="service-item text-center">
					<i class="ml-1 fas fa-hourglass-end"></i>
					<i class="ml-1 fas fa-calendar-day"></i>
					<h4>{{ with .Site.Params.design.onetitle }}{{. | safeHTML}}</h4>{{ end }}
					<p>{{ with .Site.Params.design.one }}<p>{{. | safeHTML}}</p>{{ end }}
					</p>
				</div>
			</div> 
			<div class="col-md-4 col-sm-6 col-xs-12 p-0">
				<div class="service-item text-center">
					<i class="fa fa-network-wired"></i>
					<i class="ml-1 fas fa-project-diagram"></i>
					<h4>{{ with .Site.Params.design.twotitle }}{{. | safeHTML}}</h4>{{ end }}
					<p>{{ with .Site.Params.design.two }}<p>{{. | safeHTML}}</p>{{ end }}
					</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12 p-0">
				<div class="service-item text-center">
					<i class="fas fa-people-arrows"></i>
					<i class="ml-1 fas fa-database"></i>
					<h4>{{ with .Site.Params.design.threetitle }}{{. | safeHTML}}</h4>{{ end }}
					<p>{{ with .Site.Params.design.three }}<p>{{. | safeHTML}}</p>{{ end }}
					</p>
				</div>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-md-4 col-sm-6 col-xs-12 p-0">
				<div class="service-item text-center">
					<i class="fab fa-apple"></i>
					<i class="ml-1 fab fa-github"></i>
					<h4>{{ with .Site.Params.design.fourtitle }}{{. | safeHTML}}</h4>{{ end }}
					<p>{{ with .Site.Params.design.four }}<p>{{. | safeHTML}}</p>{{ end }}
					</p>
				</div>
			</div> 
			<div class="col-md-4 col-sm-6 col-xs-12 p-0">
				<div class="service-item text-center">
					<i class="fas fa-microchip"></i>
					<i class="ml-1 fas fa-clipboard-check"></i>
					<h4>{{ with .Site.Params.design.fivetitle }}{{. | safeHTML}}</h4>{{ end }}
					<p>{{ with .Site.Params.design.five }}<p>{{. | safeHTML}}</p>{{ end }}
					</p>
				</div>
			</div> 
			<div class="col-md-4 col-sm-6 col-xs-12 p-0">
				<div class="service-item text-center">
					<i class="fas fa-stopwatch-20"></i>
					<i class="fas fa-user-shield"></i>
					<h4>{{ with .Site.Params.design.sixtitle }}{{. | safeHTML}}</h4>{{ end }}
					<p>{{ with .Site.Params.design.six }}<p>{{. | safeHTML}}</p>{{ end }}
					</p>
				</div>
			</div> 
		</div>
		<!-- End row -->
</section>
{{ end }}
