 {{ "<!-- Start Feature Summary Table -->" | safeHTML }}
 <section class="blog-single section">
   <div class="container">
	     <div class="row">
			       <div class="col-md-12 mx-auto">
<div>
 <h2 id="quick-feature-summary">Feature Matrix</h2>
<br>
<table class="table thead-dark table-striped table-responsive rounded" id="t1">
<thead class="thead-dark">
<tr>
<th style="text-align:center">Context</th>
<th style="text-align:left">Telemetry, Checks, and Configuration Items</th>
<th style="text-align:center">Supported</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:center">Connectivity</td>
<td style="text-align:left">Internet reachability (IPv4 / IPv6), LAN status / reachability, shows when dualstack / IPv4 Only / IPv6 Only</td>
<td style="text-align:center">✔️</td>
</tr>
<tr>
<td style="text-align:center">IP / MAC / Interface</td>
<td style="text-align:left">Public IP (IPv4 / IPv6), default gateways (IPv4 / IPv6 / MAC / manufacturer, and response times), gateway interface, ISP prefix, ASNs, AS Name,</td>
<td style="text-align:center">✔️</td>
</tr>
<tr>
<td style="text-align:center">Wi-Fi</td>
<td style="text-align:left">SSID name + channel, BSSID + vendor (older OSX only), frequency band, PHY mode, MCS Index, SNR (inc. min / max), Tx Rates (inc. min / max)</td>
<td style="text-align:center">✔️</td>
</tr>
<tr>
<td style="text-align:center">WLAN Scan</td>
<td style="text-align:left">Local airspace scan, 2.4GHz / 5GHz / 6GHz, clear / recommended/supported channels, RSSI, BSSID + vendor (older OSX only)</td>
<td style="text-align:center">✔️</td>
</tr>
<tr>
<td style="text-align:center">System</td>
<td style="text-align:left">OS Version, uptime, memory utilization (min / max), CPU utilization (min / max)</td>
<td style="text-align:center">✔️</td>
</tr>
<tr>
<td style="text-align:center">Geo</td>
<td style="text-align:left">IP locations to city level plotted on map (inc. lat / long)</td>
<td style="text-align:center">✔️</td>
</tr>
<tr>
<td style="text-align:center">DNS</td>
<td style="text-align:left">Primary resolvers configured (v4 / v6), configurable test resource records, response performance inc. randomized lookups for (non-cached) recursive performance</td>
<td style="text-align:center">✔️</td>
</tr>
<tr>
<td style="text-align:center">HTTP(s) / Web</td>
<td style="text-align:left">v4 HTTP testing to FQDN, HTTP status codes, TTFB, TCP single stream min/max speed</td>
<td style="text-align:center">✔️</td>
</tr>
<tr>
<td style="text-align:center">Traceroute / ASN Info</td>
<td style="text-align:left">IPv4 / IPv6 traces to test hosts, hops, ASNs, AS Name, AS paths</td>
<td style="text-align:center">✔️</td>
</tr>
<tr>
<td style="text-align:center">User Comments</td>
<td style="text-align:left">Users can append information or notes from the agent to add to troubleshooting or context (viewable from web portal)</td>
<td style="text-align:center">✔️</td>
</tr>
</tbody>
</table>
<center><small>Table 1.0 - Feature Matrix</small></center>
<br>
<br>
</div>
</div>
</div>
</div>
</section>
{{ "<!-- End Feature Summary Table -->" | safeHTML }}
