{{ "<!-- Footer Start -->" | safeHTML }}
<footer id="footer" class="bg-one">
<div class="top-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-md-3 col-lg-3">
        <h3>About</h3>
        <ul>
          <li>
          <p>CRO: 610070, TAX / VAT: IE 3490731JH</p>
          </li>
          <li>
          <a href="https://defensible.ie" target="_blank">Defensible Limited <i class="fas fa-external-link-alt"></i></a>
          </li>
          <li>
          <a href="https://sim.pansift.com/privacy/privacy.html" target="_blank">Privacy Policy <i class="fas fa-external-link-alt"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3">
        <h3>Our Services</h3>
        <ul>
          <li>
          <a href="https://stackshare.io/pansift/pansift" target="_blank"><img src="/images/tech_stack.png" width="72" height="20"> <i class="fas fa-external-link-alt"></i></a>
          </li>
          {{ range .Site.Menus.service }}
          <li>
          <a href="{{ .URL }}">{{ .Name }}</a>
          </li>
          {{ end }}
        </ul>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3">
        <h3>Quick Links</h3>
        <ul>
          {{ range .Site.Menus.quicklink }}
          <li>
          <a href="{{ .URL }}">{{ .Name }}</a>
          </li>
          {{ end }}
        </ul>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3">
        <h3>Special Offer</h3>
        <a class="btn btn-main-sm" style="font-weight: 900 !important;" href="https://client.pansift.com/clients/sign_up">Get 10 Free Screens</a>
      </div>
    </div>
  </div>
</div>
</footer>
{{ "<!-- end footer -->" | safeHTML }}


{{ "<!-- Essential Scripts -->" | safeHTML }}

{{ "<!-- jQuery -->" | safeHTML }}
<script src="{{ "plugins/jquery/dist/jquery.min.js" | absURL }}"></script>
{{ "<!-- Bootstrap -->" | safeHTML }}
<script src="{{ "plugins/bootstrap/dist/js/popper.min.js" | absURL }}"></script>
<script src="{{ "plugins/bootstrap/dist/js/bootstrap.min.js" | absURL }}"></script>
{{ "<!-- Video js -->" | safeHTML }}
<script src="{{ "plugins/videojs/dist/js/video.min.js" | absURL }}"></script>
<script async src="{{ "plugins/videojs-overlay/dist/js/videojs-overlay.min.js" | absURL }}"></script>
{{ "<!-- Leaflet js -->" | safeHTML }}
<script src="{{ "plugins/leaflet/dist/js/leaflet.js" | absURL }}"></script>
{{ "<!-- Algolia and Autocomplete js -->" | safeHTML }}
<script src="{{ "plugins/algolia/dist/js/algoliasearch.min.js" | absURL }}"></script>
<script src="{{ "plugins/algolia/dist/js/autocomplete.min.js" | absURL }}"></script>
{{ "<!-- NoUISlider and WNumb js -->" | safeHTML }}
<script src="{{ "plugins/nouislider/dist/js/nouislider.min.js" | absURL }}"></script>
<script src="{{ "plugins/wnumb/dist/js/wNumb.min.js" | absURL }}"></script>
{{ "<!-- Custom js -->" | safeHTML }}
<script src="{{ "js/script.js" | absURL }}"></script>

</body>

</html>
