{{ if .Site.Params.hero.enable }}
{{ "<!-- Hero Area -->" | safeHTML }}
<section class="hero-area lozad" style="padding-bottom: 0px;">
	<div class="container mb-3">
		<div class="row">
			<div class="col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-1" style="padding-left: 10px; padding-right: 10px;">
				<div class="block">
					<h1 class="mt-3 mb-1 text-wrap"><strong style="font-size: calc(1em + 2vw);font-weight: 900;">
							{{ with .Site.Params.hero.heading | safeHTML }}
							{{ . }}
							{{ end }}
						</strong></h1>
				</div>
			</div>
			<div class="col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 text-center mt-4 mb-3" style="background: rgba(0,0,0,0);">
				<center>
					<div class="align-left mt-1">
						<h5>
							{{ with .Site.Params.hero.description2 | safeHTML }} {{ . }} {{ end }}
						</h5>
					</div>
				</center>
			</div>
		</div>
	</div>
</section>
{{ end }}
