{{ if .Site.Params.hero.enable }}
{{ "<!-- Hero Area -->" | safeHTML }}
<section class="hero-area">
<div class="container">
  <div class="row">
    <div class="col-12 col-xl-7 col-lg-12 col-md-12 col-sm-12" style="padding: 0;">
      <div id="video-bound" class="text-center">
        <video id="my-video" class="video-js vjs-fluid vjs-default-skin vjs-big-play-centered" controls preload="none" data-setup='{}' poster="/images/hero/3_steps_v15.png">
        <source src="https://sim.pansift.com/hiring_v13.mp4" type='video/mp4'>
        <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a web browser that
        <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
        </video>
      </div>
    </div>
    <div class="col-12 col-xl-5 col-lg-12 col-md-12 col-sm-12 mt-3">
      <div class="block">
        <h1><strong>The Best</strong> Technical Recruitment use a pre hire <strong>Assessment Test.</strong></h1>
        {{ with .Site.Params.hero.description }}
        <h5>{{ . }}</h5>
        {{ end }}
        <br />
        <center>
        <form onsubmit="event.preventDefault(); secondstage('try_email');" novalidate="novalidate" class="quicksignup-box" accept-charset="UTF-8">
          <input type="email" name="try_email" id="try_email" placeholder="Enter your email">
          <input type="submit" value="Start Screening" style="cursor: pointer;">
        </form>
        </center>
        <small class="float-right">Full access with 10 candidate screens. <strong>No credit card required.</strong></small><br />
        <small class="float-right">Existing Customers <strong><a href="https://client.pansift.com/clients/sign_in">Login</a></strong></small>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 justify-content-center align-items-center mt-5">
      <center><div class="blog-tags">
          <div class="tag">
            <a href="https://pansift.com/search">skills test</a>
          </div>
          <div class="tag">
            <a href="https://pansift.com/search">live labs</a>
          </div>
          <div class="tag">
            <a href="https://pansift.com/search">automated skill testing</a>
          </div>
          <div class="tag">
            <a href="https://pansift.com/search">mixed skilling</a>
          </div>
          <div class="tag">
            <a href="https://pansift.com/search">automatic ranking</a>
          </div>
          <div class="tag">
            <a href="https://pansift.com/search">online tests</a>
          </div>
          <div class="tag">
            <a href="https://pansift.com/search">reduce bias</a>
          </div>
          <div class="tag">
            <a href="https://pansift.com/search">aptitude test</a>
          </div>
          <div class="tag">
            <a href="https://pansift.com/search">decrease risk</a>
          </div>
          <div class="tag">
            <a href="https://pansift.com/search">fast</a>
          </div>
          <div class="tag">
            <a href="https://pansift.com/search">lightweight</a>
          </div>
          <div class="tag">
            <a href="https://pansift.com/search">pre employment assessment</a>
          </div>
          <div class="tag">
            <a href="https://pansift.com/search">save time</a>
          </div>
          <div class="tag">
            <a href="https://pansift.com/search">reduce costs</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>
  {{ end }}
