{{ if .Site.Params.install_on.enable }}
{{ "<!-- Start Install On -->" | safeHTML }}
<!--section class="call-to-action section lozad" data-background-image="{{ .Site.Params.install_on.bg | absURL }}" style="background-color: rgba(189, 195, 199,1.0);" background-image="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" -->
<section class="call-to-action section" style="background-image: linear-gradient(#ffffff, #bdc3c7);">
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center mb-3">
      {{ with .Site.Params.install_on.title }}<h2 style="color: #222222; font-size: 2.5em;">{{ . | safeHTML }}</h2>{{ end }}
    </div>
    <div class="col-md-12">
      <center>
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 text-center" style="padding: 0px;">
            <a target="_blank" id="install_on_cta_1_instant_demo" href="https://app.pansift.com/demo?first_insight=true" rel="nofollow" onclick="ga(google_tracker_name+'.send','event','Client','visit_demo_from_install_on');" class="text-center mt-3" onmouseover="this.style='opacity: 0.5;';" onmouseout="this.style='opacity: 1;';"><img alt="Click for a frictionless and instant live demo" title="Click for a frictionless and instant live demo" class="img-fluid lozad" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="/images/install_on/macbookpro2.png"></img></a>
            <div id="" class="mt-4">
              <p style="color: #222222;">Run <strong>free agents</strong> on problem machines or a whole site!</p>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 text-center" style="padding: 0px;">
            <a target="_blank" id="install_on_cta_2_instant_demo" href="https://app.pansift.com/demo?first_insight=true" rel="nofollow" onclick="ga(google_tracker_name+'.send','event','Client','visit_demo_from_install_on');" class="text-center mt-3" onmouseover="this.style='opacity: 0.5;';" onmouseout="this.style='opacity: 1;';"><img alt="Click for a frictionless and instant live demo" title="Click for a frictionless and instant live demo" class="img-fluid lozad" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="/images/install_on/mini.png"></img></a>
            <div id="" class="mt-4">
							<p style="color: #222222;">Install as a <strong>remote sensor</strong> in any location!</p>
            </div>
          </div>
        </div>
      </center>
    </div>
  </div>
</div>
</section>
{{ "<!-- End Install On -->" | safeHTML }}
{{ end }}
