{{ if .Site.Params.install_on.enable }}
{{ "<!-- Start Install On -->" | safeHTML }}
<!--section class="call-to-action section lozad" data-background-image="{{ .Site.Params.install_on.bg | absURL }}" style="background-color: rgba(189, 195, 199,1.0);" background-image="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" -->
<section class="call-to-action section" style="padding-top: 0px; background-image: linear-gradient(#ffffff, #bdc3c7);">
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center mb-3">
      {{ with .Site.Params.install_on.title }}<h2 style="color: #222222; font-size: 2.5em;">{{ . | safeHTML }}</h2>{{ end }}
    </div>
    <div class="col-md-12">
      <center>
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 text-center" style="padding: 0px;">
            <a id="install_on_cta_1" href="https://pansift.com/dl/latest_pkg" rel="nofollow" onclick="ga(google_tracker_name+'.send','event','Client','download_from_install_on');" class="text-center mt-3" onmouseover="this.style='opacity: 0.5;';" onmouseout="this.style='opacity: 1;';"><img alt="Click for a frictionless and instant live demo" title="Click to download + check your download folder. Double click the PKG file to install and run." class="img-fluid lozad" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="/images/install_on/macbookpro3.png"></img></a>
            <div id="" class="mt-4">
              <p style="color: #222222;"><strong>2x free agents</strong> for problem machines and upgrade for more!</p>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 text-center" style="padding: 0px;">
            <a id="install_on_cta_2" href="https://pansift.com/dl/latest_pkg" rel="nofollow" onclick="ga(google_tracker_name+'.send','event','Client','download_from_install_on');" class="text-center mt-3" onmouseover="this.style='opacity: 0.5;';" onmouseout="this.style='opacity: 1;';"><img alt="Click for a frictionless and instant live demo" title="Click to download + check your download folder. Double click the PKG file to install and run." class="img-fluid lozad" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="/images/install_on/mini2.png"></img></a>
            <div id="" class="mt-4">
							<p style="color: #222222;">Install as <strong>remote sensors</strong> at any site or location!</p>
            </div>
          </div>
        </div>
      </center>
    </div>
  </div>
</div>
</section>
{{ "<!-- End Install On -->" | safeHTML }}
{{ end }}
