{{ "<!-- Fixed Navigation -->" | safeHTML }}
<section class="header navigation">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-md">
                    <a class="navbar-brand" href="{{ .Site.BaseURL }}">
                        <img src="{{ with .Site.Params.logo }}{{ . | absURL }}{{ end }}" alt="logo">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-bars"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            {{ range .Site.Menus.nav }}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
                            </li>
                            {{ end }}
                        </ul>
                        <a class="btn btn-xs btn-primary" style="background-color: #2980b9 !important; border-color: #2980b9 !important;" href="https://client.pansift.com">Get 10 Free Screens</a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</section>
