{{ if .Site.Params.offer.enable }}
{{ "<!-- Start offer -->" | safeHTML }}
<section class="about-2 section" id="offer" style="padding: 20px 0 !important;background-color: #333;color: #bdc3c7;">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-12 text-center">
					{{ with .Site.Params.offer.subtitle }}
					<h5 class="mb-3">{{ . | safeHTML }}</h5>
					{{ end }}
					{{ with .Site.Params.offer.title }}
					<h2 class="d-inline-block">{{ . | safeHTML }}</h2>
					{{ end }}
					<br>
					<a href="https://pansift.com/dl/latest_pkg" rel="nofollow" onclick="ga(google_tracker_name+'.send','event','Client','visit_install_from_homepage');" class="btn btn-lg btn-primary text-center mt-3" style="background-color: #222222; border-color: #1F6ABE;"> <i style="font-size: 1em;" class="fas fa-download mr-2"></i><span style="font-size: 1.3em; font-weight: 900;">Instant Agent</span></a>
					<div id="" class="mt-1">
						<span style="color: #ffffff;"><strong>2 x </strong> free macOS agents</span>
					</div>
			</div>
		</div>
	</div>
</section>
{{ "<!-- End About section -->" | safeHTML }}
{{ end }}
