<div class="card">
  <div class="card-body">
    <h5 class="card-title">PanSift Tip</h5>
    <p class="card-text">
      By integrating low cost deception technology in to your systems or code deployment pipeline, you empower your digital defense teams to respond in minutes, not months. Try some free <strong><a href="/">honeytoken</a></strong> deploys on your CI/CD pipeline for deterministic Incident Response triggers?
    </p>
    <a class="card-link" href="/howitworks">How</a>
    <a class="card-link" href="/deception">Deception</a>
    <a class="card-link" href="/benefits">Benefits</a>
  </div>
</div>
</br>
</br>
