<div class="card">
  <div class="card-body">
    <h5 class="card-title">PanSift Tip</h5>
    <p class="card-text">
		  Remote work requires reliable connectivity for all laptop voice, video, and data interactions. Make the invisible visible with PanSift. Solve issues rapidly whether at home, in a coworking space, or in the office (and irrespective of network owner). <strong><a href="/howitworks">See How It Works</a></strong> 
    </p>
    <a class="card-link" href="/benefits">Benefits</a>
    <a class="card-link" href="/pricing">Free For 2</a>
  </div>
</div>
</br>
</br>
