{{ if .Site.Data.pricing.enable }}
{{ "<!-- Start Pricing section -->" | safeHTML }}
<section class="pricing-table section" id="pricing">
{{ "<!-- NoUISlider and WNumb js -->" | safeHTML }}
<script data-cookieconsent="functionality" src="{{ "plugins/nouislider/dist/js/nouislider.min.js" | absURL }}"></script>
<script data-cookieconsent="functionality" src="{{ "plugins/wnumb/dist/js/wNumb.min.js" | absURL }}"></script>
<div class="container">
  <div class="row">
    <div class="col-xl-4 col-lg-4 col-md-6 col-xs-12">
      <h2>Team Member(s)</h2>
      <div id="number_of_agents">
        <div id="slider-format" style="margin: 20px;"></div>
        <center><input id="input-format" style="border: 0; font-size: 3em;margin: 20px;background: white;" disabled="true"></center>
      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 col-xs-12">
      <h2>Token Deploys</h2>
      <div id="number_of_screens">
        <div id="slider-format-screens" style="margin: 20px;"></div>
        <center><input id="input-format-screens" style="border: 0; font-size: 3em;margin: 20px;background: white;" disabled="true"></center> 
      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-12 col-xs-12 mb-4">
      <center>
      <h2>Monthly Cost</h2>
      <div id="cost_container" style="font-size: 3em;">
        <div id="total_cost"><strong>0 € p/m</strong></div>
      </div>
        <br/>
        <strong>
          <a href="https://app.pansift.com/github/oauth" rel="nofollow" onclick="ga('gtm1.send','event','Client','visit_install_from_pricing');" target="_blank" class="btn btn-lg btn-success mb-4"> <i style="font-size: 1.5em;" class="fab fa-github"></i><span style="font-size: 1.3em; font-weight: 900;"> {{ with .Site.Params.btnTxt }}{{ . | safeHTML }}{{ end }}</span>
          </a>
        </strong>
          <br/>
          <small>Take a <strong>live</strong> test tour with your Github login!</small>
      </center>
    </div>

  </div>
  <div class="row">
    <div class="col-xl-4 col-lg-4 col-md-6 col-xs-12 mb-4">
      <ul>
        <li>
        The default solo account is <strong>FREE</strong>. <br/>No credit card required on signup and includes a one time bonus of <strong><span class="badge badge-secondary">32</span> FREE TOKEN DEPLOYS</strong> 
        </li>
        <br />
      </ul>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 col-xs-12 mb-4">
      <ul>
        <li>
        <strong>Adhoc Token Topup Packs</strong>
        </li>
        <li>
        <span class="badge badge-secondary">10</span> token deploy pack 29€ EUR
        </li>
        <li>
        <span class="badge badge-secondary">20</span> token deploy pack 49€ EUR
        </li>
        <li>
        <span class="badge badge-secondary">50</span> token deploy pack 99€ EUR
        </li>
      </ul>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12" style="">
      <ul>
        <li>
        Additional team members € 99.00 EUR each per month and <strong>include a bonus <span class="badge badge-secondary">50</span> token deploys per agent per month recurring top-up!</strong>
        </li>
      </ul>
    </div>
</div>
<div class="row">
    <div>
    <br/>
    <br/>
  <strong>Note:</strong> Tokens are rotated per <strong>Pull Request</strong> and target the <strong>nominated</strong> branch per repository. Repository default tokened branch is <span style='font-size: 1em;' class='badge badge-secondary'>master</span> but fully configurable. 
    </div>
</div>
<!-- End row -->
</div>
<!-- End container -->
</section>
{{ end }}
