{{ if .Site.Data.pricing.enable }}
{{ "<!-- Start Pricing section -->" | safeHTML }}
<section class="pricing-table section" id="pricing">
{{ "<!-- NoUISlider and WNumb js -->" | safeHTML }}
<script data-cookieconsent="functionality" src="{{ "plugins/nouislider/dist/js/nouislider.min.js" | absURL }}"></script>
<script data-cookieconsent="functionality" src="{{ "plugins/wnumb/dist/js/wNumb.min.js" | absURL }}"></script>
<div class="container">
  <div class="row">
    <div class="col-xl-8 col-lg-8 col-md-6 col-xs-12 mb-2">
      <h2>Endpoints (Device Agents)</h2>
      <div id="number_of_agents">
        <div id="slider-format" style="margin: 20px"></div>
        	<center><input id="input-format" style="border: 0; font-weight: 900;font-size: 4em;margin: 20px;background: white;" disabled="true"></center>
      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 col-xs-12 mb-4 border rounded p-2 mb-1" style="border-radius: 40px;">
      <center>
      <h2>Monthly Cost</h2>
      <div id="cost_container" style="font-size: 2em;">
        <div id="total_cost"><strong>0.00 € (0 USD)</strong></div>
      </div>
      <div id="base_cost_container" style="font-size: 1em;">
        <div id="base_cost"><strong> 3.75 € (~4 USD) per endpoint month</strong></div>
      </div>
        <br/>
          <a target="_blank" id="pri_sign_up" href="https://app.pansift.com/demo/logout_demo" rel="nofollow" onclick="ga(google_tracker_name+'.send','event','Client','free_trial_from_pricing');" class="btn btn-lg btn-success mb-2"> <i style="font-size: 1.5em; font-weight: 900;" class="fas fa-user-clock"></i> <span style="font-size: 1.3em; font-weight: 900;"> Sign Up Free </span></a>
					<br>
					<small><strong>No credit card required !</strong></small>
      </center>
    </div>

  </div>
  <div class="row">
    <div class="col-xl-4 col-lg-4 col-md-6 col-xs-12 mb-4">
      <ul>
        <li>
        <strong>First <span class="badge badge-secondary">2</span> endpoint agents are FREE !</strong>
        </li>
        <li>
				<br>
        The default account is <strong>FREE</strong> and requires <strong>no credit card</strong> when signing up. It comes with <strong><span class="badge badge-secondary">48</span></strong> hours (2 days) "lookback" reporting and insights. The <strong><span class="badge badge-secondary">2</span></strong> free endpoint agents can be used anywhere. Try them on your own personal laptop or family machines to measure, test, explore, and experiment.
        </li>
        <br />
      </ul>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 col-xs-12 mb-4">
      <ul>
        <li>
        <strong>Why pay for endpoint agents ?</strong>
        </li>
        <li>
				<br>
        Paid endpoint agents include <strong><span class="badge badge-secondary">168</span></strong> hours (7 days) "lookback", reporting, and insights. You can then also customize <strong><span class="badge badge-secondary">7 </span></strong> test host destinations/records per bucket. An account can either be free or paid but not a mix of both.<br><br><strong>Note: Inviting additional users or admins to your account does not cost anything.</strong> 
        </li>
      </ul>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12" style="">
      <ul>
        <li>
        <strong>Got a question about anything here?</strong>
        </li>
        <li>
				<br>
				<strong>Sign up free</strong> and get <span class="badge badge-secondary">2</span> agents. Upgrade in-app whenever you want. <br><br><strong>Talk to us</strong> about any of your ideas, scenarios, constraints, or questions  <a href="/contact">here</a>.
        </li>
      </ul>
    </div>
</div>
<!-- End row -->
</div>
<!-- End container -->
</section>
{{ end }}
