{{ if .Site.Data.simulate.enable }}
{{ "<!-- Simulate Section Start -->" | safeHTML }}
<section id="pracsims" class="service-list section bg-white">
{{ "<!-- Leaflet js -->" | safeHTML }}
<script src="{{ "plugins/leaflet/dist/js/leaflet.js" | absURL }}"></script>
<div class="container">
  <!-- <div class="row">
    <div class="col">
      <div class="title text-center">
        {{ with .Site.Data.simulate.topTitle }}<h4>{{.}}</h4>{{ end }}
        {{ with .Site.Data.simulate.title }}<h2>{{.}}</h2><span class="border"></span>{{ end }}
        {{ with .Site.Data.simulate.subtitle }}<p>{{.}}</p>{{ end }}
      </div>
    </div>
  </div> -->
  </br>
  <div class="row">
    {{ range .Site.Data.simulate.item }}
    <div class="col-md-12">
      <div id="mapholder">
        <div id="mapid" style="z-index: 100; height: 200px; width: 100%; outline: 0; border-color: #3a96cf; box-shadow: 4, 4, 0, rgba(58, 150, 207, 0.1);"></div>
      </div>
    </div>
    {{ end }}
  </div>
  <div class="row">
    <div class="col-12 justify-content-center align-items-center mt-5">
      <center><div class="blog-tags">
          <div class="tag">
            <a href="https://pansift.com/search">simulation based screening</a>
          </div>
          <div class="tag">
            <a href="https://pansift.com/search">save engineering time</a>
          </div>
          <div class="tag">
            <a href="https://pansift.com/search">automated skill testing</a>
          </div>
          <div class="tag">
            <a href="https://pansift.com/search">reduced bias</a>
          </div>
          <div class="tag">
            <a href="https://pansift.com/search">mixed skilling</a>
          </div>
          <div class="tag">
            <a href="https://pansift.com/search/">decreased risk</a>
          </div>
          <div class="tag">
            <a href="https://pansift.com/search/">skills test</a>
          </div>
          <div class="tag">
            <a href="https://pansift.com/search/">automatic ranking</a>
          </div>
          <div class="tag">
            <a href="https://pansift.com/search/">online tests</a>
          </div>
          <div class="tag">
            <a href="https://pansift.com/search/">aptitude test</a>
          </div>
          <div class="tag">
            <a href="https://pansift.com/search/">fast / lightweight</a>
          </div>
          <div class="tag">
            <a href="https://pansift.com/search/">pre employment assessment</a>
          </div>
          <div class="tag">
            <a href="https://pansift.com/search/">reduce costs</a>
          </div>
          <div class="tag">
            <a href="https://pansift.com/search/">live labs</a>
          </div>
          <div class="tag">
            <a href="https://pansift.com/search/">netdevops</a>
          </div>
          <div class="tag">
            <a href="https://pansift.com/search/">git</a>
</div>
</section>
{{ "<!-- Simulate Section Start -->" | safeHTML }}
{{ end }}
