{{ if .Site.Data.training.enable }}
{{ "<!-- training Section Start -->" | safeHTML }}
<section class="training section" id="training" style="background-color: #fff;">
<div class="container">
  <div class="row">
    <div class="col">
      <div class="title text-center" style="padding: 0px !important;">
        {{ with .Site.Params.training.topTitle }}<h4>{{ . }}</h4>{{ end }}
        {{ with .Site.Params.training.title }}
        <h2>{{ . }}</h2>
        <span class="border"></span>
        {{ end }}
        {{ with .Site.Params.training.subtitle | safeHTML }}<p>{{ . }}</p>{{ end }}
      </div>
    </div>
  </div>
  <div class="col-12 justify-content-center align-items-center">
    <center>
      <br>
      <br>
      <div class="blog-tags">
        <div class="tag">
          <a href="https://aff.pansift.com/git" target="_blank"> <i class="fab fa-git"></i> git</a>
        </div>
        <div class="tag">
          <a href="https://aff.pansift.com/awssecurity" target="_blank"> <i class="fab fa-aws"></i> AWS Security</a>
        </div>
        <div class="tag">
          <a href="https://aff.pansift.com/ciscosec" target="_blank"> <i class="fas fa-cloud"></i> Cisco Security</a>
        </div>
        <div class="tag">
          <a href="https://aff.pansift.com/comptiasecurity" target="_blank"> <i class="fas fa-shield-alt"></i> CompTIA Security</a>
        </div>
        <div class="tag">
          <a href="https://aff.pansift.com/ceh" target="_blank"> <i class="fas fa-id-badge"></i> CEH</a>
        </div>
        <div class="tag">
          <a href="https://aff.pansift.com/owasp" target="_blank"> <i class="fas fa-bug"></i> OWASP</a>
        </div>
        <div class="tag">
          <a href="https://aff.pansift.com/cyber" target="_blank"> <i class="fas fa-user-secret"></i> Cyber Security</a>
        </div>
        <div class="tag">
          <a href="https://aff.pansift.com/cism" target="_blank"> <i class="fas fa-id-card-alt"></i> CISM</a>
        </div>
        <div class="tag">
          <a href="https://aff.pansift.com/cissp" target="_blank"> <i class="far fa-id-card"></i> CISSP</a>
        </div>
        <div class="tag">
          <a href="https://aff.pansift.com/python" target="_blank"> <i class="fab fa-python"></i> Python</a>
        </div>
        <div class="tag">
          <a href="https://aff.pansift.com/docker" target="_blank"> <i class="fab fa-docker"></i> Docker</a>
        </div>
        <div class="tag">
          <a href="https://aff.pansift.com/git" target="_blank"> <i class="fab fa-github"></i> git Fundamentals</a>
        </div>
        <div class="tag">
          <a href="https://aff.pansift.com/git" target="_blank"> <i class="fab fa-github-square"></i> git Advanced </a>
        </div>
        <div class="tag">
          <a href="https://aff.pansift.com/comptia" target="_blank"> <i class="fas fa-shield-alt"></i> CompTIA Network+</a>
        </div>
        <div class="tag">
          <a href="https://aff.pansift.com/cisco" target="_blank"> <i class="fas fa-door-open"></i> Cisco</a>
        </div>
        <div class="tag">
          <a href="https://aff.pansift.com/juniper" target="_blank"> <i class="fas fa-door-open"></i> Juniper</a>
        </div>
        <div class="tag">
          <a href="https://aff.pansift.com/openstack" target="_blank"> <i class="fas fa-door-open"></i> OpenStack</a>
        </div>
        <div class="tag">
          <a href="https://aff.pansift.com/golang" target="_blank"> <i class="fas fa-door-open"></i> Go</a>
        </div>
        <div class="tag">
          <a href="https://aff.pansift.com/ipv6" target="_blank"> <i class="fas fa-door-open"></i> IPv6</a>
        </div>
        <div class="tag">
          <a href="https://aff.pansift.com/kubernetes" target="_blank"> <i class="fas fa-door-open"></i> Kubernetes</a>
        </div>
        <div class="tag">
          <a href="https://aff.pansift.com/ansible" target="_blank"> <i class="fas fa-door-open"></i> Ansible</a>
        </div>
        <div class="tag">
          <a href="https://aff.pansift.com/amazon" target="_blank"> <i class="fab fa-aws"></i> Amazon AWS</a>
        </div>
        <div class="tag">
          <a href="https://aff.pansift.com/amazon" target="_blank"> <i class="fab fa-aws"></i> AWS Devops</a>
        </div>
        <div class="tag">
          <a href="https://aff.pansift.com/amazon" target="_blank"> <i class="fab fa-aws"></i> AWS VPC</a>
        </div>
        <div class="tag">
          <a href="https://aff.pansift.com/salt" target="_blank"> <i class="fas fa-door-open"></i> Salt</a>
        </div>
        <div class="tag">
          <a href="https://aff.pansift.com/chef" target="_blank"> <i class="fas fa-door-open"></i> Chef</a>
        </div>
        <div class="tag">
          <a href="https://aff.pansift.com/puppet-4" target="_blank"> <i class="fas fa-door-open"></i> Puppet</a>
        </div>
        <div class="tag">
          <a href="https://aff.pansift.com/consul" target="_blank"> <i class="fas fa-terminal"></i> Consul</a>
        </div>
        <div class="tag">
          <a href="https://aff.pansift.com/terraform" target="_blank"> <i class="fas fa-door-open"></i> Terraform</a>
        </div>
        <div class="tag">
          <a href="https://aff.pansift.com/kvm" target="_blank"> <i class="fas fa-door-open"></i> KVM</a>
        </div>
        <div class="tag">
          <a href="https://aff.pansift.com/vsphere" target="_blank"> <i class="fas fa-door-open"></i> vSphere</a>
        </div>
        <div class="tag">
          <a href="https://aff.pansift.com/hyper-v" target="_blank"> <i class="fas fa-door-open"></i> Hyper-V</a>
        </div>
        <div class="tag">
          <a href="https://aff.pansift.com/cisco" target="_blank"> <i class="fas fa-door-open"></i> CCENT</a>
        </div>
        <div class="tag">
          <a href="https://aff.pansift.com/cisco" target="_blank"> <i class="fas fa-door-open"></i> CCNA</a>
        </div>
        <div class="tag">
          <a href="https://aff.pansift.com/cisco" target="_blank"> <i class="fas fa-door-open"></i> CCNP</a>
        </div>
        <div class="tag">
          <a href="https://aff.pansift.com/cisco" target="_blank"> <i class="fas fa-door-open"></i> CCIE</a>
        </div>
        <div class="tag">
          <a href="https://aff.pansift.com/linux" target="_blank"> <i class="fas fa-door-open"></i> Linux</a>
        </div>
      </div>
      <div>
      </div>
    </center>
  </div>
</div>
      <center>
      <a class="btn btn-outline-dark btn-lg" href="https://aff.pansift.com/cyber" target="_blank"><strong style="font-size: 1.1em;"><i style="font-size: 1.1em;" class="fas fa-search mr-2"></i> Search or Click a Tag </strong></a>
      </center>
</section>
{{ "<!-- End section -->" | safeHTML }}
{{ end }}
