{{ if .Site.Data.workingprocess.enable }}
{{ "<!-- Work Process Section Start -->" | safeHTML }}
<section class="service-2 section bg-gray">
<div class="container">
  <div class="row">
    <div class="col">
      <div class="title text-center">
        {{ with .Site.Data.workingprocess.topTitle }}
        <h4>{{ . }}</h4>
        {{ end }}
        {{ with .Site.Data.workingprocess.title }}
        <h2>{{ . }}</h2>
        <span class="border"></span>
        {{ end }}
        {{ with .Site.Data.workingprocess.subtitle | safeHTML }}
        <p>{{ . }}</p>
        {{ end }}
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    {{ range $index,  $element:= .Site.Data.workingprocess.item }}
    <div class="col-{{ if eq $index 6 }}12 {{else}}6 {{end}} col-md-6 col-sm-12 col-xs-12 mt-1 p-1">
      <div class="service-item text-center">
        {{ with .number }}
        <span class="count">{{ . }}.</span>
        {{ end }}
        {{ with .icon }}
        <i class="{{ . }}"></i>
        {{ end }}
        {{ with .title }}
        <h4>{{ . }}</h4>
        {{ end }}
        {{ with .description }}
        <p>{{ . }}</p>
        {{ end }}
      </div>
    </div>
    {{ if eq $index 4 }}
    <div class="w-100"></div>
    {{ end }}
    {{ end }}
  </div>
</div>
</section>
{{ "<!-- Work Process section end -->" | safeHTML }}
{{ end }}
